<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::head(#{lt.code.academy.blog.head.title})}"></head>
<nav th:replace="~{fragments/fragments :: nav}"></nav>

<body>
<div class="container">
    <div th:if="${not pageOfPosts.hasContent()}">
        <div class="alert alert-primary"
             role="alert" th:text="#{lt.code.academy.blog.home.posts.empty.message}">
        </div>
        <div class="col-2">
            <a class="btn btn-outline-primary" th:href="@{/newpost}"
               th:text="#{lt.code.academy.blog.home.create.new.post}"></a>
        </div>
    </div>
    <div th:if="${pageOfPosts.hasContent()}">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr class="align-middle">
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-2', 'createdAt', #{lt.code.academy.blog.home.published}, 'bi-sort-numeric-down', 'bi-sort-numeric-up-alt')}"></th>
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-2', 'updatedAt', #{lt.code.academy.blog.home.updated}, 'bi-sort-numeric-down', 'bi-sort-numeric-up-alt')}"></th>
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-1', 'username', #{lt.code.academy.blog.home.posted.by}, 'bi-sort-alpha-down', 'bi-sort-alpha-up-alt')}"></th>
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-2', 'title', #{lt.code.academy.blog.home.postTitle}, 'bi-sort-alpha-down', 'bi-sort-alpha-up-alt')}"></th>
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-3', 'body', #{lt.code.academy.blog.home.postBody}, 'bi-sort-alpha-down', 'bi-sort-alpha-up-alt')}"></th>
                <th th:replace="~{fragments/fragments :: sortableColumnHEader('col-1', 'totalComments', #{lt.code.academy.blog.home.totalComments}, 'bi-sort-numeric-down', 'bi-sort-numeric-up-alt')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${pageOfPosts.content}">
                <td class="col-2" th:text="${post.createdAt}"></td>
                <td class="col-2" th:text="${post.updatedAt}"></td>
                <td th:text="${post.username}"></td>
                <td>
                    <a th:method="POST" th:href="@{/public/post/{id}(id=${post.id})}" th:text="${post.title}"></a>
                </td>
                <td>
            <span class="d-inline-block text-truncate" style="max-width: 300px;"
                  th:text="${post.body}"></span>
                </td>
                <td th:text="${post.totalComments}"></td>
                <td>
                    <a th:href="@{/post/{id}/delete(id=${post.id})}" class="text-danger"><i
                            class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-2">
                <a class="btn btn-outline-primary" th:href="@{/newpost}"
                   th:text="#{lt.code.academy.blog.home.create.new.post}"></a>
            </div>
            <nav aria-label="Page navigation example" class="col-8">
                <ul class="pagination justify-content-center"
                    th:with="sort=${pageOfPosts.sort.toList().get(0)}">
                    <li class="page-item"
                        th:classappend="${pageOfPosts.number eq 0 ? 'disabled':''}">
                        <a class="page-link"
                           th:href="@{/home(page=${pageOfPosts.number} - 1, sort=${sort.property + ',' + sort.direction + ',ignorecase'})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(1, pageOfPosts.totalPages)}"
                        th:classappend="${page - 1 eq pageOfPosts.number ? 'active' : ''}">
                        <span class="page-link" th:if="${page - 1 eq pageOfPosts.number}"
                              th:text="${page}"></span>
                        <a class="page-link"
                           th:if="${page - 1 ne pageOfPosts.number}"
                           th:href="@{/home(page=${page} - 1, sort=${sort.property + ',' + sort.direction + ',ignorecase'})}"
                           th:text="${page}"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${pageOfPosts.number eq pageOfPosts.totalPages - 1 ? 'disabled':''}">
                        <a class="page-link"
                           th:href="@{/home(page=${pageOfPosts.number} + 1, sort=${sort.property + ',' + sort.direction + ',ignorecase'})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="col-2 text-end">
                <span class="btn btn-outline-primary disabled"
                      th:text="#{lt.code.academy.blog.home.total.posts} + ' ' + ${pageOfPosts.totalElements}"></span>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>