<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/fragments::head(#{lt.code.academy.blog.post.title})}"></head>
<nav th:replace="~{fragments/fragments :: nav}"></nav>

<body>
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-8">
            <div class="post">
                <h2 th:text="${post.title}"></h2>
                <h6 th:text="#{lt.code.academy.blog.post.author} + ' ' + ${post.username}"></h6>
                <h6 th:text="#{lt.code.academy.blog.post.created} + ' ' + ${post.createdAt}"></h6>
                <div th:if="${post.updatedAt} ne null">
                    <h6 th:text="#{lt.code.academy.blog.post.updated} + ' ' + ${post.updatedAt}"></h6>
                </div>
                <hr/>
                <h4 style="max-height: 400px; overflow: auto" th:text="${post.body}"></h4>
            </div>
            <div sec:authorize="isAuthenticated()"
                 class="btn-group"
                 role="group"
                 aria-label="Basic example"
                 style="margin-top: 10px">

                <form th:if="${#authentication.principal.id eq post.accountId}"
                      th:action="@{/post/{id}/update(id=${post.id})}"
                      method="GET">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            th:text="#{lt.code.academy.blog.post.edit.button}"></button>
                </form>

                <form th:if="${#authentication.principal.id eq post.accountId || isAdmin}"
                      th:action="@{/post/{id}/delete(id=${post.id})}">
                    <button type="submit"
                            class="btn btn-danger btn-sm"
                            th:text="#{lt.code.academy.blog.post.delete.button}"></button>
                </form>


            </div>
            <hr/>
            <form sec:authorize="isAuthenticated()"
                  th:action="@{/newcomment}"
                  th:object="${comment}"
                  method="POST">
                <input type="hidden" th:field="*{postId}"/>
                <h4 th:text="#{lt.code.academy.blog.post.write.new.comment}"></h4>
                <div class="mb-3">
                    <label for="new-comment-body"
                           class="form-label"
                           th:text="#{lt.code.academy.blog.post.write.new.comment.label}"></label>
                    <textarea th:field="*{body}" required
                              class="form-control"
                              id="new-comment-body"
                              aria-describedby="newCommentBodyHelp"
                              style="height: 200px"></textarea>
                    <div id="newCommentBodyHelp"
                         class="form-text"
                         th:text="#{lt.code.academy.blog.post.write.new.comment.form.text.help}"></div>
                </div>
                <button type="submit"
                        class="btn btn-primary"
                        th:text="#{lt.code.academy.blog.post.write.new.comment.submit.button}"></button>
            </form>
        </div>
        <div class="col-4"
             style="max-height: 900px; overflow: auto">
            <div class="container">
                <div th:if="${comments.isEmpty()}">
                    <div class="alert alert-primary"
                         role="alert" th:text="#{lt.code.academy.blog.post.comments.no.comments.message}">
                    </div>
                </div>
                <div class="p-3 border bg-light"
                     style="margin-bottom: 3px"
                     th:each="comment : ${comments}">
                    <h6 th:text="#{lt.code.academy.blog.post.comment.author} + ' ' + ${comment.username}"></h6>
                    <h6 th:text="#{lt.code.academy.blog.post.comment.created} + ' ' + ${comment.createdAt}"></h6>
                    <div th:if="${comment.updatedAt} ne null">
                        <h6 th:text="#{lt.code.academy.blog.post.comment.updated} + ' ' + ${comment.updatedAt}"></h6>
                    </div>
                    <h5 th:text="${comment.body}"></h5>
                    <div sec:authorize="isAuthenticated()"
                         class="btn-group btn-group-sm"
                         role="group"
                         aria-label="Basic example"
                         style="margin-top: 10px">

                        <button th:if="${#authentication.principal.id eq comment.accountId}" type="button"
                                class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#editComment"
                                th:data-bs-comment-id="${comment.id}"
                                th:data-bs-comment-body="${comment.body}"
                                th:data-bs-comment-createdAt="${comment.createdAt}"
                                th:data-bs-comment-updatedAt="${comment.updatedAt}"
                                th:data-bs-comment-accountId="${comment.accountId}"
                                th:data-bs-comment-postId="${comment.postId}"
                                th:data-bs-comment-username="${comment.username}"
                                th:text="#{lt.code.academy.blog.post.comment.edit.button}"
                        ></button>
                        <form class="modal fade" id="editComment" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true"
                              th:action="@{/editcomment}"
                              th:object="${comment}"
                              method="POST">
                            <input type="hidden" id="commentID" name="id"/>
                            <input type="hidden" id="commentCreatedAt" name="createdAt"/>
                            <input type="hidden" id="commentUpdatedAt" name="updatedAt"/>
                            <input type="hidden" id="commentAccountId" name="accountId"/>
                            <input type="hidden" id="commentPostId" name="postId"/>
                            <input type="hidden" id="commentUsername" name="username"/>

                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel"
                                            th:text="#{lt.code.academy.blog.post.comment.edit.modal.title}"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea th:field="*{body}" class="form-control" id="commentBody"
                                                  aria-describedby="editCommentBodyHelp"
                                                  style="height: 100px"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                                th:text="#{lt.code.academy.blog.post.comment.edit.modal.close.button}"></button>
                                        <button type="submit"
                                                class="btn btn-primary"
                                                th:text="#{lt.code.academy.blog.post.comment.edit.modal.save.button}"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:if="${#authentication.principal.id eq comment.accountId || #authentication.principal.id eq post.accountId || isAdmin}"
                              th:action="@{/deletecomment}"
                              th:object="${comment}"
                              method="POST">
                            <input type="hidden" th:field="*{postId}"/>
                            <input type="hidden" th:value="${comment.id}" id="idDelete" name="id"/>
                            <button type="submit"
                                    class="btn btn-outline-danger btn-sm"
                                    th:text="#{lt.code.academy.blog.post.comment.delete.button}"
                            ></button>
                        </form>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/fragments :: footer}"></footer>
<script th:src="@{/js/editComment.js}"></script>
</body>
</html>