<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::head(#{lt.code.academy.blog.edit.post.title})}"></head>
<nav th:replace="~{fragments/fragments :: nav}"></nav>

<body>
<div class="container" style="margin-top: 30px">
    <div class="row">
        <form class="col-8"
              th:action="@{/post/{id}/save(id=${post.id})}"
              th:object="${post}"
              method="POST">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{createdAt}"/>
            <input type="hidden" th:field="*{updatedAt}"/>
            <input type="hidden" th:field="*{accountId}"/>
            <input type="hidden" th:field="*{username}"/>
            <input type="hidden" th:field="*{totalComments}"/>

            <h2 th:text="#{lt.code.academy.blog.edit.post.annotation}"></h2>
            <div class="mb-3">
                <label for="edit-post-title"
                       class="form-label"
                       th:text="#{lt.code.academy.blog.edit.post.title.label}"></label>
                <input type="text" th:field="*{title}" class="form-control" id="edit-post-title"
                       aria-describedby="editPostTitleHelp">
                <div id="editPostTitleHelp"
                     class="form-text"
                     th:text="#{lt.code.academy.blog.edit.post.title.help}"></div>
            </div>
            <div class="mb-3">
                <label for="edit-post-body"
                       class="form-label"
                       th:text="#{lt.code.academy.blog.edit.post.body.label}"></label>
                <textarea th:field="*{body}" class="form-control" id="edit-post-body"
                          aria-describedby="editPostBodyHelp"
                          style="height: 300px"></textarea>
                <div id="editPostBodyHelp"
                     class="form-text"
                     th:text="#{lt.code.academy.blog.edit.post.body.help}"></div>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    th:text="#{lt.code.academy.blog.edit.post.save.button}"></button>
        </form>
        <div class="col-4"
             style="max-height: 900px; overflow: auto">
            <div class="container">
                <div th:if="${comments.isEmpty()}">
                    <div class="alert alert-primary"
                         role="alert" th:text="#{lt.code.academy.blog.edit.post.comments.no.comments.message}">
                    </div>
                </div>
                <div class="p-3 border bg-light"
                     style="margin-bottom: 3px"
                     th:each="comment : ${comments}">
                    <h6 th:text="#{lt.code.academy.blog.post.comment.author} + ' ' + ${comment.username}"></h6>
                    <h6 th:text="#{lt.code.academy.blog.post.comment.created} + ' ' + ${comment.createdAt}"></h6>
                    <div th:if="${comment.updatedAt} ne null">
                        <h6 th:text="#{lt.code.academy.blog.post.comment.updated} + ' ' + ${comment.updatedAt}"></h6>
                    </div>
                    <h5 th:text="${comment.body}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>