<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::head(#{lt.code.academy.blog.register.title})}"></head>
<nav th:replace="~{fragments/fragments :: nav}"></nav>

<body>
<div class="container">
    <div class="row justify-content-center"
         style="margin-top: 50px">
        <h2 class="col-10" th:text="#{lt.code.academy.blog.new.account.annotation}"></h2>
        <form class="col-10"
              style="margin-top: 20px"
              th:action="@{/register}"
              th:object="${account}"
              method="POST">

            <div th:replace="~{fragments/fragments :: inputWithError('name', #{lt.code.academy.blog.new.account.name.form.label}, ${account.name ne null}, 'text')}"></div>
            <div th:replace="~{fragments/fragments :: inputWithError('surname', #{lt.code.academy.blog.new.account.surname.form.label}, ${account.surname ne null}, 'text')}"></div>
            <div th:replace="~{fragments/fragments :: inputWithError('username', #{lt.code.academy.blog.new.account.username.form.label}, ${account.username ne null}, 'text')}"></div>
            <div th:replace="~{fragments/fragments :: inputWithError('password', #{lt.code.academy.blog.new.account.password.form.label}, ${account.password ne null}, 'password')}"></div>

            <button type="submit" class="btn btn-primary" th:text="#{lt.code.academy.blog.new.account.button.text}"></button>

        </form>
    </div>
</div>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>